# Machine Learning
*.keras
*.weights.h5
*.h5
checkpoints/
results/
comparison_results/
comparison/
comparison_results.zip
all_results.zip

# Data
exoTrain.csv
exoTest.csv

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store
Thumbs.db
