# Machine Learning
*.keras
*.weights.h5
*.h5
checkpoints/
models/
results/*
!results/images/
comparison_results/
comparison/
*.zip

# Data
exoTrain.csv
exoTest.csv

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store
Thumbs.db
